* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Cutive Mono', monospace;
}

nav {
    height: 60px;
}

ul.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 100px;
}

.container a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 5px 10px 15px 20px;
}
li {
    padding: 0 10px;
}
li:hover {
animation: colors 5s;
}

@keyframes colors {
    0%{
        background-color: gainsboro;
    }
    100%{
        background-color: gainsboro;
    }
}

img {
    width: 30%;
}