body {
    font-family: 'Cutive Mono', monospace;
}

body {
    margin: 50px 200px
}
body{
    padding: 10px 10px 10px 10px;
}
body {
    border-top: 10px slateblue;
}
body{
    text-align: justify;
}
h2 {
    text-align: center;
}
h4 {
    text-align: center;
}
.side {
    text-align: right;
}
em{
    color: rgb(242, 134, 10)
}
strong {
    color:rgb(242, 134, 10)
}
.back{
    color:rgb(242, 134, 10)
}
p {
    font-size: 14px;
}
