body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: rgb(238, 130, 48);
    background-color: rgb(227, 245, 255);
    font-family: 'Permanent Marker', cursive;
}

h1 {
    color: rgb(238, 130, 48);
}


.container {
    height: 100%;
    display: flex;
}

#toolbar {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    border-style: double;
    border-color: rgb(238, 130, 48);
    width: 300px;
    background-color: rgb(252, 213, 86);
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 50%;
}

#toolbar button {
    background-color: rgb(238, 130, 48);
    border: none;
    border-radius: 10px;
    color:white;
    padding: 5px;
    width: 50%;
    font-family: 'Permanent Marker', cursive;
}

.drawing-board {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);

}

#post button {
    background-color: rgb(139, 211, 255);
    border: none;
    border-radius: 25px;
    color:rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 36px;
}

#post input {
    background-color: rgb(139, 211, 255);
    border: none;
    border-radius: 25px;
    color:rgb(255, 255, 255);
    padding: 14px;
    font-family: 'Rubik Bubbles', cursive;
    font-size: 12px;
}


.cloud {
    height: 250px;
    overflow:hidden;
    position:relative;
}

@keyframes slide{
      0% {left: 300px;
        opacity: 0%;
    }
    25%{
        opacity: 100%;
    }
      100% {left: 1500px;
    }

  }

  .cloud {
    position: absolute;
    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    -o-animation: slide 20s linear infinite;
  }

  .cloud2 {
    height: 300px;
    overflow:hidden;
    position:relative;
    padding-top: 200px;
}

  .cloud2 {
    position: absolute;
    animation: slide 25s linear infinite;
    -webkit-animation: slide 25s linear infinite;
    -moz-animation: slide 25s linear infinite;
    -o-animation: slide 25s linear infinite;
  }

  .cloud3 {
    height: 350px;
    overflow:hidden;
    position:relative;
    padding-top: 100px;
}

  .cloud3 {
    position: absolute;
    animation: slide 18s linear infinite;
    -webkit-animation: slide 18s linear infinite;
    -moz-animation: slide 18s linear infinite;
    -o-animation: slide 18s linear infinite;
  }

  .cloud4 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 100px;
}

  .cloud4 {
    position: absolute;
    animation: slide 30s linear infinite;
    -webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    -o-animation: slide 30s linear infinite;
  }

  .cloud5 {
    height: 250px;
    overflow:hidden;
    position:relative;
    padding-top: 700px;
}

  .cloud5 {
    position: absolute;
    animation: slide 23s linear infinite;
    -webkit-animation: slide 23s linear infinite;
    -moz-animation: slide 23s linear infinite;
    -o-animation: slide 23s linear infinite;
  }

  .cloud6 {
    height: 150px;
    overflow:hidden;
    position:relative;
    padding-top: 350px;
}

  .cloud6 {
    position: absolute;
    animation: slide 15s linear infinite;
    -webkit-animation: slide 15s linear infinite;
    -moz-animation: slide 15s linear infinite;
    -o-animation: slide 15s linear infinite;
  }

  .cloud7 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 500px;
}

  .cloud7 {
    position: absolute;
    animation: slide 27s linear infinite;
    -webkit-animation: slide 27s linear infinite;
    -moz-animation: slide 27s linear infinite;
    -o-animation: slide 27s linear infinite;
  }

  .cloud8 {
    height: 300px;
    overflow:hidden;
    position:relative;
    padding-top: 400px;
}

  .cloud8 {
    position: absolute;
    animation: slide 40s linear infinite;
    -webkit-animation: slide 40s linear infinite;
    -moz-animation: slide 40s linear infinite;
    -o-animation: slide 40s linear infinite;
  }

  .cloud9 {
    height: 250px;
    overflow:hidden;
    position:relative;
    padding-top: 100px;
}

  .cloud9 {
    position: absolute;
    animation: slide 22s linear infinite;
    -webkit-animation: slide 22s linear infinite;
    -moz-animation: slide 22s linear infinite;
    -o-animation: slide 22s linear infinite;
  }

  .cloud10 {
    height: 175px;
    overflow:hidden;
    position:relative;
    padding-top: 650px;
}

  .cloud10 {
    position: absolute;
    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    -o-animation: slide 20s linear infinite;
  }

  .cloud11 {
    height: 175px;
    overflow:hidden;
    position:relative;
    padding-top: 550px;
}

  .cloud11 {
    position: absolute;
    animation: slide 35s linear infinite;
    -webkit-animation: slide 35s linear infinite;
    -moz-animation: slide 35s linear infinite;
    -o-animation: slide 35s linear infinite;
  }

  .cloud12 {
    height: 300px;
    overflow:hidden;
    position:relative;
    padding-top: 50px;
}

  .cloud12 {
    position: absolute;
    animation: slide 42s linear infinite;
    -webkit-animation: slide 42s linear infinite;
    -moz-animation: slide 42s linear infinite;
    -o-animation: slide 42s linear infinite;
  }

  .cloud13 {
    height: 300px;
    overflow:hidden;
    position:relative;
    padding-top: 575px;
}

  .cloud13 {
    position: absolute;
    animation: slide 16s linear infinite;
    -webkit-animation: slide 16s linear infinite;
    -moz-animation: slide 16s linear infinite;
    -o-animation: slide 16s linear infinite;
  }

  .cloud14 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 275px;
}

  .cloud14 {
    position: absolute;
    animation: slide 26s linear infinite;
    -webkit-animation: slide 26s linear infinite;
    -moz-animation: slide 26s linear infinite;
    -o-animation: slide 26s linear infinite;
  }