body {
    font-family: 'Cutive Mono', monospace;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 221, 252);
}

.container {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 600px;
}

section{
    background: white;
}

.title {
    font-size: 16px;
    color: #e5943d;
    font-weight: bold;
}

.tools-board {
    width: 200px;
    padding: 15px 22px 0;
}

.tools-board .row {
    margin-bottom: 10px;
}

.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .options{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.option :where(span, label){
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label){
    color: #e5943d;
    font-size: 10px;
}

.option #size-slider{
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options{
    display: flex;
    justify-content: space-between; 
    padding: 5px;
}

.colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1){
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
}

.colors .option:nth-child(2){
    background-color: #000000;
}

.colors .option:nth-child(3){
    background-color: #e5943d;
}

.colors .option:nth-child(4){
    background-color: #f195ea;
}

.colors .option:nth-child(5){
    background-color: #bbefa3;
}

.colors .option.selected::before{
    position:absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid white;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before{
    border-color: rgb(206, 206, 206);
}

.option #color-picker{
    opacity:0;
    cursor: pointer;

}

.buttons button{
    font-family: 'Cutive Mono', monospace;
}
.buttons button{
    width: 100%;
    color: white;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas{
    color: orange;
    border: 2px solid orange;
    transition: all 0.3s ease;
}

.clear-canvas:hover{
    color: white;
    background: orange;
}

.buttons .save-img{
    background: rgb(139, 211, 255);
    border: 2px solid rgb(139, 211, 255);
    font-family: 'Rubik Bubbles', cursive;
}

.drawing-board{
    flex: 1;
}

.drawing-board canvas{
    width:400px;
    height: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
}

@keyframes slide{
    0% {left: -300px;
      opacity: 0%;
  }
  25%{
      opacity: 100%;
  }
    100% {left: 1500px;
  }
}

.cloud {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 300px;
}

  .cloud {
    position: absolute;
    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    -o-animation: slide 20s linear infinite;
  }

  .cloud2 {
    height: 150px;
    overflow:hidden;
    position:relative;
    padding-top: 350px;
}

  .cloud2 {
    position: absolute;
    animation: slide 25s linear infinite;
    -webkit-animation: slide 25s linear infinite;
    -moz-animation: slide 25s linear infinite;
    -o-animation: slide 25s linear infinite;
  }

  .cloud3 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 300px;
}

  .cloud3 {
    position: absolute;
    animation: slide 18s linear infinite;
    -webkit-animation: slide 18s linear infinite;
    -moz-animation: slide 18s linear infinite;
    -o-animation: slide 18s linear infinite;
  }

  .cloud4 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 350px;
}

  .cloud4 {
    position: absolute;
    animation: slide 30s linear infinite;
    -webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    -o-animation: slide 30s linear infinite;
  }

  .cloud5 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 400px;
}

  .cloud5 {
    position: absolute;
    animation: slide 23s linear infinite;
    -webkit-animation: slide 23s linear infinite;
    -moz-animation: slide 23s linear infinite;
    -o-animation: slide 23s linear infinite;
  }

  .cloud6 {
    height: 150px;
    overflow:hidden;
    position:relative;
    padding-top: 350px;
}

  .cloud6 {
    position: absolute;
    animation: slide 15s linear infinite;
    -webkit-animation: slide 15s linear infinite;
    -moz-animation: slide 15s linear infinite;
    -o-animation: slide 15s linear infinite;
  }

  .cloud7 {
    height: 100px;
    overflow:hidden;
    position:relative;
    padding-top: 450px;
}

  .cloud7 {
    position: absolute;
    animation: slide 27s linear infinite;
    -webkit-animation: slide 27s linear infinite;
    -moz-animation: slide 27s linear infinite;
    -o-animation: slide 27s linear infinite;
  }

  .cloud8 {
    height: 170px;
    overflow:hidden;
    position:relative;
    padding-top: 400px;
}

  .cloud8 {
    position: absolute;
    animation: slide 40s linear infinite;
    -webkit-animation: slide 40s linear infinite;
    -moz-animation: slide 40s linear infinite;
    -o-animation: slide 40s linear infinite;
  }

  .cloud9 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 325px;
}

  .cloud9 {
    position: absolute;
    animation: slide 22s linear infinite;
    -webkit-animation: slide 22s linear infinite;
    -moz-animation: slide 22s linear infinite;
    -o-animation: slide 22s linear infinite;
  }

  .cloud10 {
    height: 175px;
    overflow:hidden;
    position:relative;
    padding-top: 550px;
}

  .cloud10 {
    position: absolute;
    animation: slide 20s linear infinite;
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    -o-animation: slide 20s linear infinite;
  }

  .cloud11 {
    height: 175px;
    overflow:hidden;
    position:relative;
    padding-top: 425px;
}

  .cloud11 {
    position: absolute;
    animation: slide 35s linear infinite;
    -webkit-animation: slide 35s linear infinite;
    -moz-animation: slide 35s linear infinite;
    -o-animation: slide 35s linear infinite;
  }

  .cloud12 {
    height: 100px;
    overflow:hidden;
    position:relative;
    padding-top: 600px;
}

  .cloud12 {
    position: absolute;
    animation: slide 42s linear infinite;
    -webkit-animation: slide 42s linear infinite;
    -moz-animation: slide 42s linear infinite;
    -o-animation: slide 42s linear infinite;
  }

  .cloud13 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 500px;
}

  .cloud13 {
    position: absolute;
    animation: slide 16s linear infinite;
    -webkit-animation: slide 16s linear infinite;
    -moz-animation: slide 16s linear infinite;
    -o-animation: slide 16s linear infinite;
  }

  .cloud14 {
    height: 200px;
    overflow:hidden;
    position:relative;
    padding-top: 650px;
}

  .cloud14 {
    position: absolute;
    animation: slide 26s linear infinite;
    -webkit-animation: slide 26s linear infinite;
    -moz-animation: slide 26s linear infinite;
    -o-animation: slide 26s linear infinite;
  }